<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title style="margin-left: 2em">LISTE DES PRIX</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="awardTxt">
        <p>Prix Multi Médi'Alpes 2020</p>
    </div>
    <ion-list lines="none" class="awardsList" >
        <div *ngFor="let item of listAwardsInterface; let i = index" [attr.data-index]="i" >
            <ion-item detail color="{{colors[i%colors.length]}}" (click)="goToProjectList(item.type.id, item.id)" >
                <ion-label style="padding:0.5em">{{item.name}}</ion-label>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
