<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start" *ngIf="this.prizeID">
            <ion-back-button [defaultHref]="'/awards-list'"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Projets en compétition</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let project of projectInterface" size="6">
                <ion-card class="cardSize" color="light" (click)='ChangeToMovieDetails("/details-movies",project)'>
                    <img src="{{project.imgUrl ? urlEnvProd +'/images/'+ project.imgUrl : '../../assets/images/Logo-multimedialpes.png'}}" alt="LOGO"/>
                    <ion-card-content class="ion-text-center">
                        <h3>{{project.title}}</h3>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
