<ion-header>
    <ion-toolbar color="medium" class="homeTitle">
        <ion-title>
            MULTI MÉDI'ALPES
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <img class="logo" src="../../assets/images/Logo-multimedialpes.png" alt="LOGO"/>
    </div>
    <div>
        <p class="homeTxt">Festival Multi Médi'Alpes organisé par les étudiants du département MMI de l'IUT1 de Grenoble</p>
    </div>
    <div class="accessBtn">
        <ion-button color="medium" (click)="goToAwards('/awards-list')">ACCÉDER AUX CATÉGORIES</ion-button>
    </div>
</ion-content>
