.homeTitle{
  text-align: center;
}

.logo {
  height: 20em;
  width: auto;
  margin: 1em auto;
  display: block;
}

.homeTxt {
  font-size: 0.6em;
  color: grey;
  text-align: center;
  margin:1em;
}

.accessBtn {
  text-align: center;
  margin-top: 3em;
}

